body {
  background-color: powderblue;
}

h1 {
  color: black;
  font-size:20px;
}

h2 {
  color: black;
  font-size:50px;
}

p {
  color: white;
}
#p01 {
  color: yellow;
}
p.error {
  color: green;
}
.divstyle{
	background-color:red;
	color:white;
	padding:10px;
}